<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success text-white">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sno</th>
                <th>EmpID</th>
                <th>EmpName</th>
                <th>EmpContactNo</th>
                <th>State</th>
                <th>Country</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (item of EmployeeList; track $index) {
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{item.Empid}}</td>
                  <td>{{item.EmpName}}</td>
                  <td>{{item.EmpContactNo}}</td>
                  <td>{{item.state}}</td>
                  <td>{{item.Country}}</td>
                  <td class="text-center">
                    <button (click)="onedit(item)" class="btn btn-primary">Edit</button>
                    <button (click)="onDelete(item.Empid)" class="btn btn-danger mx-2">Delete</button>
                  </td>
                </tr>
              }
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success text-white">
        New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
        <div class="row">         
          <div class="col-6 mb-3">
            <label for="empId" class="form-label">EmpID</label>
            <input type="text" formControlName="Empid" class="form-control" id="empId" placeholder="EmpID" />
          </div>
          <div class="col-6 mb-3">
            <label for="empName" class="form-label">EmpName</label>
            <input type="text" formControlName="EmpName" class="form-control" id="empName" placeholder="EmpName" />
          </div>
          <div class="col-6 mb-3">
            <label for="empContactNo" class="form-label">EmpContactNo</label>
            <input type="number" formControlName="EmpContactno" class="form-control" id="empContactNo" placeholder="Contact No" />
          </div>
          <div class="col-6 mb-3">
            <label for="state" class="form-label">State</label>
            <input type="text" formControlName="state" class="form-control" id="state" placeholder="State" />
          </div>
          <div class="col-6 mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" formControlName="Country" class="form-control" id="country" placeholder="Country" />
          </div>
        </div>
        </form>
        <div class="row pt-2">
          <div class="col-6 text-center">
            <button class="btn btn-secondary" (click)="onsave()">Save</button>
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-secondary">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
